<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin chat</title>

    <link rel="stylesheet" href="/static/chatStyle.css">
    
</head>
<body>
    <div class="main">
            <div class="name">
                <!-- <input type="text" id="name-input" class="name-input" value="anonymous">
            </div>
            <ul class="message-container" id="message-container">
                <li class="message-left">
                    <p class="message">
                        Lorem ipsum dolor
                        <span>farzin ... 26 jun</span>
                    </p>
                </li> 
    
          <li class="message-right">
                    <p class="message">
                        Lorem ipsum dolor
                        <span>farzin ... 26 jun</span>
                    </p>
                </li> 
    
             <li class="message-feedback">
                    <p class="feedback" id="feedback">
                        farzin is typing.....
                    </p>
                </li> 
    
            </ul>

            <form action="" class="message-form" id="message-form">
                <input type="text" name="message" class="message-input" id="message-input">
                <div class="v-divider">
                <button type="submit" class="send-button" >Send</button>
                </div>
            </form> -->

        <img src="/static/extraImages/under-maintenance-sign-500x500.webp">
    </div>



    




    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" 
    integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
</script> -->
    <script src="/static/chat.js" ></script>
    
</body>
</html>