<%- include("../admin/layouts/adminHeader.ejs") %>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>WELCOME TO DASHBOARD</h1>
            
        </div>
    </div>
</div>


<%- include("../admin/layouts/adminFooter.ejs") %>