
<script src="/static/adminAssets/js/core/popper.min.js"></script>
<script src="/static/adminAssets/js/core/bootstrap.min.js"></script>
<script src="/static/adminAssets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/static/adminAssets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="/static/adminAssets/js/material-dashboard.min.js?v=3.0.0"></script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/static/adminAssets/js/productValidation.js" ></script>
<script src="/static/adminAssets/js/offerValidation.js" ></script>
<script src="/static/adminAssets/css/styles.css"></script>








</body>
</html>