<%- include('../users/layouts/header.ejs')%>

<section class="vh-100 gradient-custom">
    <div class="container py-1 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="login-page border-0 shadow-lg card " >
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4">
               
  
                <h2 class="login-letters fw-bold mb-2 text-uppercase">Forgot password</h2>

                <h6 class = "text-dark" >Please enter your mail that associated with your MLIVE store</h6>
                  
                <%
                if(typeof message!=='undefined'){
                  %>
                  <!-- <div class="alert alert-success"> -->
                  <p style="color: green;" ><%= message%></p>
                <!-- </div> -->
                  <%
                }
                %>
  
               
             <form action="/forgot-password" method="post">
                <div class="form-outline  mb-4">
                   
                  <input type="email" placeholder="enetr email.." name="email" id="typeEmailX" class="form-control form-control-md mt-5" />
                  
                </div>
  
              
               <button class="login-letters btn btn-primary btn-lg mt-4  " type="submit">Send link</button>
  
              </div>
            
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include('../users/layouts/footer.ejs')%>