<%- include('../users/mainLayout/mainHeader.ejs')%>


<main>
    <div class="untree_co-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center pt-5">
              <span class="d-flex justify-content-center  ">
                <lottie-player src="https://lottie.host/a20140b7-d9f8-40fa-83f9-09d0e3908b5c/fUTbMAvTJG.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop  autoplay direction="1" mode="normal"></lottie-player>
              </span>
              <h2 class="display-3 text-black">Thank you!</h2>
              <p class="lead mb-5">You order was successfuly completed.</p>
              <p><a href="/orders" class="btn btn-sm btn-outline-black">Check Your Orders >>>   </a></p>
            </div>
          </div>
        </div>
      </div>
</main>

<%- include('../users/mainLayout/mainFooter.ejs')%>
