
<%- include('../users/layouts/header.ejs')%>
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="signup-container">
                <h2 class="text-center">Create an Account</h2>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname" name="fname" required>
                    </div>

                    <div class="form-group">
                        <label for="fname">Last Name:</label>
                        <input type="text" class="form-control" id="fname" name="lname" required>
                    </div>
                    

                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" class="form-control" id="phone" name="mobile" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                        <div id="password-mismatch" class="text-danger text-center" style="display: none;" >Password Don't Match</div>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Sign Up">
                    </div>
                </form>
                <div class="text-center">
                    Already have an account? <a href="/login">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="full-page">
    <div class="container">
    <div class="text-center  center-div">
        <div class="container col-6 py-5 p-4">
            <div class="title pb-3">
                <h2>Create a new account</h2>
                            <!-- <% 
                            if(typeof message !== 'undefined'){
                                %>
                                <div id="invalid-msg" class="alert alert-danger  text-center">
                                    <h4><%- message %></h4>
                                </div>
                                <%
                            }
                            %> -->
             </div>
    
            <form action="/register" method="post">
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="Fname" placeholder="Fist Name" required>
                    <br>
                    <input type="text" class="form-control" name="Lname" placeholder="Last Name" required>
                    <br>
                    <input type="email" class="form-control" name="email" placeholder="Enter email" id="email">
                    <!-- <p id="email-error" class="error-message"></p> -->
                    <br>
                
                    <input type="text" class="form-control" name="mobile" placeholder="Mobile No" required>
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Enter password" id="password">
                    <!-- <p id="password-error" class="error-message"></p> -->
                    <br>
                    
                    <input type="password" class="form-control" name="Cpassword" placeholder="Enter password" id="Cpassword">
                    <!-- <p id="password-error" class="error-message"></p> -->
                    <p id="password-mismatch" class="alert  text-danger mt-2" style="display: none;">
                        Passwords do not match. Please try again.
                    </p>
                    <br>
    
                </div>
                <br>
                    <input type="submit" class="btn btn-success rounded-pill" value="Sign Up">
    
            </form>
            <br>
            <p>Alredy have an account? <a href="/login">Login</a></p>
    
        </div>
    </div>
    </div>
    </div>
    



<%- include('../users/layouts/footer.ejs')%>